/* css reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* end css reset */

/* @font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Bold.ttf);
  src: url(/assets/fonts/Poppins-BoldItalic.ttf);
  src: url(/assets/fonts/Poppins-ExtraBold.ttf);
  src: url(/assets/fonts/Poppins-ExtraBoldItalic.ttf);
  src: url(/assets/fonts/Poppins-Italic.ttf);
  src: url(/assets/fonts/Poppins-Regular.ttf);
} */

body {
  background-color: hsl(0, 0%, 86%);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 3%;
  width: 40%;
  border-radius: 25px;
  border-bottom-right-radius: 25%;
  position: relative;
}

.age-input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 90%;
  gap: 1.5em;
  border-bottom: 1px solid hsl(0, 0%, 63%);
  padding-bottom: 3em;
}

.age-input-container > div {
  max-width: 25%;
}

.age-input-container > div > label {
  display: block;
  font-size: 0.65em;
  font-weight: 700;
  margin: 0.3em 0;
  letter-spacing: 1.5px;
  color: hsl(0, 0%, 54%);
}

.age-input {
  width: 4.5em;
  padding: 0.4em;
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 5px;
  border: solid 1px hsl(0, 0%, 86%);
  
}

.age-input:active {

  outline-color: hsl(259, 100%, 65%);
}
.age-input:focus {

  outline-color: hsl(259, 100%, 65%);

}

.age-input-control {
  display: flex;
  flex-direction: column;
}

.error-display {
  color: hsl(0, 100%, 67%);
  font-size: .65em;
  font-weight: 400;
  font-style: italic;
  height: 13px;
}

.age-input-control.error > label {
  color: hsl(0, 100%, 67%);
} 
.age-input-control.error .age-input {
  outline: hsl(0, 100%, 67%);
  border-color:  hsl(0, 100%, 67%);
} 


.arrow {
  display: inline-block;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  padding: 9px 9px 5px;
  border: none;
  position: absolute;
  right: 8%;
  top: 30.5%;
  transition: .25s ease-out;
}

.arrow:hover {
  background-color: hsl(0, 0%, 8%);

}
.arrow:active {
  background-color: hsl(280, 31%, 25%);

}

.arrow > svg {
  scale: 0.7;
}

.calculated-container {
  margin-top: 5%;
  line-height: 1.1;
  color: hsl(0, 0%, 8%);
}

.calculated-numbers {
  color: hsl(259, 100%, 65%);
}

.calculated-container > span {
  display: block;
  font-size: 4.5em;
  font-weight: 900;
  font-style: italic;
}


@media (max-width: 37.5em) {

  .container {
    width: 95%;
    /* max-width: 95%; */
    padding: 5%;
  }
  
  .age-input-container > div {
    max-width: auto;
    flex-grow: 1;
  }
  .age-input-container > div > {
    width: 4em;
  }
  .age-input-container > div > label {
    font-size: .8em;
  }

  .age-input-container {
    margin: 2em 0 4em;
    max-width: 100%;
    gap: 2em;
    padding-bottom: 5em;


  }

  .calculated-container {
    margin: 3em 0;
    font-size: .75em;
  }

  .arrow {
    right: 42.5%;
    top: 38%;
  }
}
